.about-company__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .ul-reset();
}

.about-company__item {
  min-height: 22px;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.about-company__link {
  font-size: 14px;
  line-height: 17px;

  .color-link(#ffffff, 0.5);
  .link-reset();
}
