.slider {
  background-color: #0099ef;
}
.slider__item {
  padding-top: 85px;
  padding-bottom: 85px;
}

.slider__content {
  background-color: #ffffff;
  box-shadow: 0 25px 55px rgba(41, 101, 144, 0.45);
  border-radius: 40px;
}

.slider__header {
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: #004460;
  text-align: left;
}

